<div class="container">
<div class="row">
<div class="col-md-9 col-md-offset-2">
<div class="page-ads box" style="
    padding: 10px;
">
<div class="post-header">
<p>Already have an account? <a [routerLink]= "['/login']" >Click here to login</a></p>
</div>
<form class="form-ad">
<div class="divider"><h3>Basic information</h3></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea">Name</label>
<input type="text" class="form-control" placeholder="Name">
<span class="material-input"></span></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea"></label>
<label class="control-label" for="textarea">Email</label>
<input type="text" class="form-control" placeholder="Your@domain.com">
<span class="material-input"></span></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea">Profession Title</label>
<input type="text" class="form-control" placeholder="Headline (e.g. Front-end developer)">
<span class="material-input"></span></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea">Location</label>
<input type="text" class="form-control" placeholder="Location, e.g">
<span class="material-input"></span></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea">Web</label>
<input type="text" class="form-control" placeholder="Website address">
<span class="material-input"></span></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea">Pre Hour</label>
<input type="text" class="form-control" placeholder="Salary, e.g. 85">
<span class="material-input"></span></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea">Age</label>
<input type="text" class="form-control" placeholder="Years old">
<span class="material-input"></span></div>
<div class="form-group">
<div class="button-group">
<div class="action-buttons">

</div>
</div>
</div>
<div class="divider"><h3>Education</h3></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea">Degree</label>
<input type="text" class="form-control" placeholder="Degree, e.g. Bachelor">
<span class="material-input"></span></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea">Field of Study</label>
<input type="text" class="form-control" placeholder="Major, e.g Computer Science">
<span class="material-input"></span></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea">School</label>
<input type="text" class="form-control" placeholder="School name, e.g. Massachusetts Institute of Technology">
<span class="material-input"></span></div>
<div class="form-group is-empty">
<div class="row">
<div class="col-md-6">
<label class="control-label" for="textarea">From</label>
<input type="text" class="form-control" placeholder="e.g 2014">
</div>
<div class="col-md-6">
<label class="control-label" for="textarea">To</label>
<input type="text" class="form-control" placeholder="e.g 2018">
</div>
</div>
<span class="material-input"></span><span class="material-input"></span></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea">Description</label>
<textarea class="form-control" rows="7"></textarea>
<span class="material-input"></span></div>
<div class="form-group">
<div class="button-group">
<div class="action-buttons">

</div>
</div>
</div>
<div class="add-post-btn">
<div class="pull-left">

</div>
<div class="pull-right">
<a href="#" class="btn-delete"><i class="ti-trash"></i> Delete This</a>
</div>
</div>
<div class="divider"><h3>Work Experience</h3></div>
<div class="form-group is-empty">
<label class="control-label" for="textarea">Company Name</label>
<input type="text" class="form-control" placeholder="Company name">
<span class="material-input"></span></div>
<div class="form-group is-empty">
 <label class="control-label" for="textarea">Title</label>
<input type="text" class="form-control" placeholder="e.g UI/UX Researcher">
<span class="material-input"></span></div>
<div class="form-group is-empty">
<div class="row">
<div class="col-md-6">
<label class="control-label" for="textarea">Date Form</label>
<input type="text" class="form-control" placeholder="e.g 2014">
</div>
<div class="col-md-6">
<label class="control-label" for="textarea">Date To</label>
<input type="text" class="form-control" placeholder="e.g 2018">
</div>
</div>
<span class="material-input"></span><span class="material-input"></span></div>
<div class="form-group">
<label class="control-label" for="textarea">Description</label>
</div>
<section id="editor">
  <textarea _ngcontent-c2="" class="form-control" rows="7"></textarea>
</section>
<div class="form-group">
<div class="button-group">
<div class="action-buttons">

</div>
</div>
</div>
<div class="add-post-btn">

<div class="pull-right">
<a href="#" class="btn-delete"><i class="ti-trash"></i> Delete This</a>
</div>
</div>
<div class="divider"><h3>Skills</h3></div>
<div class="form-group is-empty">
<div class="row">
<div class="col-md-6">
<label class="control-label" for="textarea">Skill Name</label>
<input class="form-control" placeholder="Skill name, e.g. HTML" type="text">
</div>
<div class="col-md-6">
<label class="control-label" for="textarea">% (1-100)</label>
<input class="form-control" placeholder="Skill proficiency, e.g. 90" type="text">
</div>
</div>
<span class="material-input"></span><span class="material-input"></span></div>
<div class="add-post-btn">
<div class="pull-left">

</div>
<div class="pull-right">
<a href="#" class="btn-delete"><i class="ti-trash"></i> Delete This</a>
</div>
</div>
</form>
<a href="resume.html" class="btn btn-common">Save</a>
</div>
</div>
</div>
</div>
