
<header class="main-header headercolor">
  <nav class="navbar   navbar-static-top navcolor">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" class="logotipo" [routerLink]="['/']"><img  src="../../assets/img/logo/logo1.png"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse " id="navbar-collapse">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Estudantes
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li routerLinkActive="active"><a [routerLink]="['/students']">Lista de Estudantes</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/curriculo']">Cadastre seu curriculo</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Empresas
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li routerLinkActive="active"><a [routerLink]="['/postjob']">Cadastre seu estágio</a></li>
                  <li routerLinkActive="active"><a [routerLink]="['/managejobs']">Gerêncie seus estágios</a></li>

                </ul>
            </li>

            <li routerLinkActive="active"><a [routerLink]="['/about']">Sobre</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li routerLinkActive="active" ><a [routerLink]="['/login']">Login</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/register']">Cadastrar</a></li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->

    </div>
  </nav>

</header>
