
<header class="main-header headercolor">
<nav class="navbar navbar-static-top navcolor">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']"><b>SeuEstágio.com</b></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a [routerLink]="['/students']">Estudantes</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/register']">Cadastrar</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</nav>
</header>
