
<br>
<br>
<br>

<div class="aboutsection">
  <br>
  <br>
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-12">
<img src="../../assets/img/about.jpg" alt="" class="img-responsive">
</div>
<div class="col-md-6 col-sm-12">
<div class="about-content">
<h2 class="medium-title">About Job Career</h2>
<p class="desc">Consectuture adipiscing elit sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam erat volutpat utwisi veniam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est modi, saepe hic esse maxime quasi, sapiente ex debitis quis dolorum unde, neque quibusdam eveniet nobis enim porro repudiandae nesciunt quidem.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni delectus soluta adipisci beatae ullam quisquam, quia recusandae rem assumenda, praesentium porro sequi eaque doloremque tenetur incidunt officiis explicabo optio perferendis.</p>
<a href="#" class="btn btn-common">Learn More</a>
</div>
</div>
</div>
</div>
</div>



<section class="">
  <h2>Parceiros</h2>
  <div class="row">
    <div class="col-md-2">
      <img class="img-responsive" src="../../assets/img/clients/img1.png" alt="">
    </div>
    <div class="col-md-2">
      <img class="img-responsive" src="../../assets/img/clients/img2.png" alt="">
    </div>
    <div class="col-md-2">
      <img class="img-responsive" src="../../assets/img/clients/img3.png" alt="">
    </div>
    <div class="col-md-2">
      <img class="img-responsive" src="../../assets/img/clients/img4.png" alt="">
    </div>
    <div class="col-md-2">
      <img class="img-responsive" src="../../assets/img/clients/img5.png" alt="">
    </div>
    <div class="col-md-2">
      <img class="img-responsive" src="../../assets/img/clients/img6.png" alt="">
    </div>

  </div>
</section>
<br>
