<div class="wrapper" >

<!-- componente Header início-->
<mt-header></mt-header>

  <!-- Full Width Column -->
  <div class="content-wrapper" style="
   background-image: url(../assets/img/bg-intro.jpg);
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  ">
    <div class="container-fluid">

      <!-- componente Home início-->
      <router-outlet></router-outlet>

    </div>
  </div>


<!-- componente footer início-->
  <mt-footer></mt-footer>
</div>
