
<section class="content-header">
</section>

<section class="content">
  <div class="jumbotron welcome-jumbotron home-internship">
    <h1>Bem vindo ao SeuEstágio.com</h1>
    <p>
      Você que é estudante encontrará as melhores vagas de estágio na sua área. Você que é uma empresa,
      divulgue suas vagas de estágio no portal e econtre os estudantes certos para contratarem.
    </p>
    <a class="btn btn-green btn-lg" [routerLink]="['/students']">Ver lista de Estudantes</a>
  </div>
</section>
