


<section class="content-header ">
</section>

<section class="content ajuste3">
  <div class="jumbotron welcome-jumbotron home-internship">
    <h1>Bem vindo ao SeuEstágio.com</h1>
    <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control" style="border-radius:5px;" placeholder="Empresa / Palavras-chave">
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" style="border-radius:5px;" placeholder="Cidade / Bairro">
                </div>
                <div class="col-md-3 ">
                    <div class="form-group">

                      <select class="form-control" style="border-radius:5px;">
                        <option>Todas as Categorias</option>
                            <option>Finanças</option>
                            <option>TI & Engenharia</option>
                            <option>Educação/Treinamento</option>
                            <option>Art/Design</option>
                            <option>Vendas/Markting</option>
                            <option>Saúde</option>
                            <option>Ciências</option>                              
                      </select>
                   </div>
                </div>
                <div class="col-md-1" >
                    <a class="btn btn-green " [routerLink]="['/students']">Pesquisar</a>
                </div>
      </div>

  </div>
</section>


<br>
<h1 style="color:white">Últimos Estágios</h1>
<br>
<mt-jobs-list></mt-jobs-list>
